body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 20px;
}

img {
    max-width: 100%;
    display: none;
}

.buttons {
    margin-top: 20px;
    color: cadetblue;
}
